/* https://coolors.co/palette/6b9080-a4c3b2-cce3de-eaf4f4-f6fff8 */
:root{
  --text-colour:#6B9080;
  --button-colour: #81BEA4;
  --outline-colour:#6B9080;
  --header:#C2EFDC;
  --nav-header: #6FA48D;
}

body, html {
  overscroll-behavior: none;
  height: 100%;
  background-color: #F6FFF8;
}
body {
/* font-size: 1.5em; */
font-size: 14pt;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; 
  animation: fade 0.3s linear;

}


.App {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #6B9080;
  height: 200%;
  overflow: hidden;
}

.Links {
  font-size: 2.1em;
	text-align: center;
  transition: all .3s ease;
}

.loginpageHeading{
  color: #6B9080;
  margin:40px;
  /* font-size:45px; */
  
}
.LoginPage h1{
  margin-top: 30px;
}

.loginheader h1{
  margin-top: 30px;
}

.LoginPage{
  background-color: #F6FFF8;
}
.loginBox{
  background-color: #E3EDE9;
  width:45%;
  margin: auto; 
  border-radius: 20px;
  border:1px solid #a4c3b285;
  padding:10px;
  padding-bottom:20px;
}
.loginheader{
  background-color:var(--header);
  margin-bottom: 50px;
  margin-top: 0px;
  padding-bottom: 20px;
}
.formContainer{
  margin:auto
}
.formContainer .input{
  background-color: #d3e4e0;
  border: 1px solid #a4c3b27d ;
  border-radius: 10px;
  color: #747c78;

  display: block;
  margin: auto;
  margin-bottom:20px;
  margin-top: 20px;
}
.formContainer .input1{
  background-color: #CCE3DE;
  border: 1px solid #a4c3b27d ;
  border-radius: 10px;
  color: #747c78;


  margin: auto;
  margin-bottom:20px;
  margin-top: 20px;
}

.appBtn{
  background-color: #81BEA4;

  width:120px;
  border-radius: 11px;
  border: 1px solid #6b908090;
  font-weight: 400;
  font-size:14px;
}

.UserSettingsPage .appBtn {
  width: auto;
}

.MasterHeader ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--nav-header);
  top: 0;
  width: 100%;
}
.MasterHeader li{
  float: left;
  font-size: 14pt;
}
.MasterHeader li a {
  display: block;
  color: var(--text-colour);
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 10px;
  margin-right: 10px;
  margin:5px;
}
.MasterHeader li a:not(.active) {
  background-color: #CCE3DE;
}
.MasterHeader li a:hover:not(.active) {
  background-color: #a1bab5;
}

.MasterHeader .active {
  background-color: #8FCAB0;
  color: white;
}
.error{
  color:red;
  font-weight:500;
  font-size:20pt;
}

.usrAccLi {
  display: block;
  margin-bottom: 20px;
}

.usrAccBtn {
  border: none;
}

.usrAccBtn2 {
  background-color: #d8c9c9;
  border-radius: 100%;
  padding:29px;
  margin:5px;
  cursor: pointer;

}
.profilePhoto {
  border-radius: 100%;
  /* padding:29px; */
  margin:5px;
  cursor: pointer;
  width:60px;


}
.dropDownMaster{
  list-style-type: none;

  position: absolute;
  /* left: 93vw; */
  right:10px;

}
/* TODO: Fix dropdown menu */
.dropdownMenu {
  display: none;
  overflow: auto;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  min-width: 160px;
  max-width: 160px;
  position: absolute;
  background-color: #F6FFF8;
  padding: 12px 16px;
  z-index: 1;
  /* left:calc(2vw - 140px); */
  right:10px;
  top:76px;
  /* left: 92vw; */
  /* top: 6%; */
  float:right;
  border: 1px solid var(--outline-colour);
}

.dropDownMaster:hover .dropdownMenu {
  display: block;
}

.miniNavBar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E0F4EC;
  top: 0;
  width: 100%;
}
.miniNavBar li{
  float: left;
  font-size: 11pt;
}
.miniNavBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
  margin-right: 10px;
  margin:5px;
}
.miniNavBar li a:not(.active) {
  background-color: #95BBB3;
}
.miniNavBar li a:hover:not(.active) {
  background-color: #7f9e98;
}

.miniNavBar .active {
  background-color: #95BB9B;
  color: white;
}
.UserSettingsPage .loginheader{
  background-color:var(--header);
  margin-bottom: 50px;
  margin-top: 0px;
  /* padding-bottom: 0px; */
}
.formContainer label {
  display: inline !important;
}
.passChangeFieldSet{
  margin: 30px;
}
.UserSettingsPage .loginBox label {
  font-size: 13pt;
  font-weight: 500;
}

.AccountDetailsPage .loginheader {
  background-color: var(--header);
  margin-bottom: 50px;
  margin-top: 0px;
  /* padding-bottom: 0px; */
}
.AccountDetailsPage .appBtn {
  width: auto;
}
.editUsrIconBtn{
  background-color: #D9D9D9;
    border-radius: 100%;
    padding: 85px;
    margin: 5px
}
.dropDownA{
  padding: 5px !important;
}
.dropDownLi{
  width:150px;
}
/* TODO: Do some stuff with responsive design here
  Make it not a grid if screen width isnt wide enough to fit it all */
.ProfileBox{
  background-color: #E9F5F0;
  width:80%;
  margin: auto;
  display: grid;
  grid-template-columns: 40% 30% 29%;
  border-radius: 20px;
  padding:35px;
}
.ProfileColMin{
  background-color: #C7E4D8;
  margin:8px;
  border-radius: 10px;
  list-style-type: none;
}
.ProfileColMin h3 {
  font-weight: 500;
  font-size: 19pt;
  margin: 20px;
}
.ProfileColLarge{
  list-style-type: none;
  text-align: center
}
.ProfileColLarge li {
  font-weight: 400;
  margin: 5px;
  margin-bottom: 20px;
}
.ProfileName {
  font-size: 16pt;
  font-weight: 500 !important;
  margin-bottom: 40px !important;
}
.ProfileIconLarge {
  background-color: #D9D9D9;
  border-radius: 100%;
  padding: 85px;
  margin: auto;
  margin-top: 30px;
  /* margin: 15px; */
  margin-bottom: 60px;
  padding:50px;
  width: 100px;
  height: 100px;
  border: 1px solid #6B9080;
}
.ProfileInterestLi{
  margin: 40px;
}
.friendListImg{
  background-color: #D9D9D9;
    border-radius: 100%;
    padding: 85px;
    /* margin: 15px; */
    padding: 15px;
    width: 20px;
    height: 20px;
    border: 1px solid #6B9080;
}
.FriendItemProfile {
  padding:15px;
  margin:20px;
  height: auto;
  display: flex;
  background-color: #B6D2C7;
  border-radius: 8px;
}
.FriendItemProfile p {
  margin: 10px;
  text-align: left;
  margin-left: 20px;
}
.homePageContainer{
  background-color: #E3EDE9;
  margin: auto;
  width:93%;
  padding: 10px;
  padding-top: 20px;
  margin-bottom: 80px;
  border-radius: 20px;
}
.homepageMainContent h3 {
  font-weight: 400;
  font-size:30px;
}
.newestListingItem{
  padding: 35px;
  height: auto;
  display: flex;
  background-color: #D9D9D9;
  border-radius: 28px;
  /* width:30%; */
  /* flex: 1 1 28%;
  flex-shrink: 1; */
  /* max-width: 25%; */
  cursor: pointer;
  /* margin: 9px; */

}
.newestListingItemFeed{
  padding: 35px;
  height: auto;
  display: flex;
  background-color: #cfdedb;
  border-radius: 28px;
  /* width:30%; */
  /* flex: 1 1 28%;
  flex-shrink: 1; */
  /* max-width: 25%; */
  cursor: pointer;
  /* margin: 9px; */

}
.newestListingItemDisabled{
  padding: 35px;
  height: auto;
  display: flex;
  background-color: rgb(218, 212, 212);
  opacity: 60%;
  border-radius: 28px;
  /* width:30%; */
  /* flex: 1 1 28%; */
  /* flex-shrink: 1; */
  /* max-width: 25%; */
  cursor: pointer;
  /* margin: 9px; */

}
.overallListingItem :hover {
  animation: homePageItemHover 0.1s ease-in;
  animation-fill-mode: forwards;
  /* animation-direction: reverse; */
}

.overallListingItem{
  /* padding: 35px; */
  display: flex;
  /* max-width: 23.5% ; */
  max-width:420px;
  margin: 9px;
  /* flex: 1 1 28%; */
  /* flex-shrink: 1; */
  overflow-wrap: anywhere;
}

.overallListingItemFeed{
  /* padding: 35px; */
  display: flex;
  max-width: 23.5% ;
  /* max-width: 350px; */
  margin: 9px;
  /* flex: 1 1 28%; */
  flex-shrink: 1;
  list-style-type: none;
}
.overallListingItemFeed :hover {
  animation: homePageItemHover 0.1s ease-in;
  animation-fill-mode: forwards;
  /* animation-direction: reverse; */
}

.leftNLR {
  margin-left:30px;
}
.overallListingItem:hover .leftNLR {
  animation: anti-homePageItemHover 0.1s linear;
}
.NLRimagePlaceholder {
  background-color: #DFE1DD !important;
  border-radius: 5px !important;
  padding: 85px;
  /* margin: 15px; */
  padding: 15px;
  width: 60px;
  height: 60px;
  border: 1px solid #6B9080;

}

.newestListingItem h3 {
  font-size:20pt
}
.itemContainer{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.logOutBtn{
  background-color: #7c4825;
  margin: 5px;
  border-radius: 11px;
  border: 1px solid #6b908090;
  font-weight: 400;
  font-size: 14px;
}

.ItemPage h1 { 
  font-size: 2em; 
  line-height: 1.2;  
  letter-spacing: -.1rem;
  font-weight: 300;
}
.itemPageContainer{
  background-color: #E3EDE9;
  width:90%;
  margin: auto;
  border-radius: 10px;
  padding:15px;

}

.itemPageContainer li {
  list-style-type: none;
}

.topPageFlex {
  display: flex;
}
.itemInfoBox{
  flex-grow: 1;
  background-color: #D9D9D9;
  margin:20px;
  padding:30px;
  border-radius: 20px;
}
.itemImg{
  
  width: 450px;
  height: 450px;
  margin:10px;
}
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.MenuBarSearch{
  width:210%;
  background-color: #DEF1ED;
  padding:5px;
  border-radius: 30px;
  margin:5px;

}
.searchFormObject{
  margin: 6px;
}
.searchFormObject input{
  margin: 0px !important;
  width:95%;
  /* background-color: #CCE3DE;
  border: 1px solid #a4c3b27d ; */
  border-radius: 20px;
  color: #747c78;
  font-weight: 200;
}
.searchResults{
  position: absolute !important;
  top:70px !important;
  background-color: #F6FFF8 !important;
  width:40% !important;
}
.searchResults li{
  display: block;
  float: none !important;
  margin: 5px;
  background-color: #DEF1ED; 
  border-radius: 10px;
  /* display: none; */
}
.MenuBarSearch:focus-within .searchResults li{
  display: block;
}
.leftNLR p {
  font-size: 13pt;
}
.leftNLR h3 {
  font-size: 18pt;
}
.srcItem {
  background-color: #DEF1ED !important;
  padding: 4px !important;
  cursor: pointer;
}

.searchResults li:hover{
  background-color: #bed3cf !important;
}
.srcItem:hover{
  background-color: #bed3cf !important;
}

.menuSearchMaster:not(:focus-within)  .searchResults{
  display:none;
}
.menuSearchMaster:focus-within  .searchResults{
  display:block;
}

.searchResults :focus{
  display: block !important;
}

.seeMoreBtn{
  background-color: #CCE3DE !important;
}

a :hover .seeMoreBtn{
  background-color: #bed3cf !important;
}

.SearchPage .loginheader{
  background-color: #F6FFF8 !important;
}
.SearchPage{
  list-style-type: none;
}

.SearchPage .searchFormObject input{
  background-color: #DEF1ED;
  padding:10px;
  margin:20px !important;
}

.SearchPage .searchFormObject {
  padding:10px;
}
.searchBoxContainer {
  background-color: #c2efdc6d;
  width:95%;
  margin: auto;
  border-radius: 20px;
  padding:10px;
}

.searchImage{
  width:120px;
  height: auto;
  margin-right:20px;
  border-radius:0px !important;
}
.searchResultItemMenu{
  padding:5px !important;
  cursor: pointer;  
}
.searchResultItemMenu li :hover a {
  background-color: #bed3cf !important;

}
.searchResults li:hover a{
  background-color: #bed3cf !important;
}
.searchResultItem {
  display: flex;
  background-color: #D5EFE4;
  padding:20px;
  width:90%;
  margin: auto;
  border-radius: 15px;
  margin-bottom: 5px;
  cursor: pointer;
}
.searchResultItemDisabled{
  display: flex;
  background-color: #D5EFE4;
  opacity: 65%;
  padding:20px;
  width:90%;
  margin: auto;
  border-radius: 15px;
  margin-bottom: 5px;
  cursor: pointer;
}
.animationParent :hover{
  animation: searchPageItemHover 0.3s ease-in-out;
  animation-fill-mode: forwards;
}
.SearchResultContainer{
  padding:10px;
  /* margin-bottom: 40px; */
}
.SearchResultContainer li {
  background-color: transparent !important;
}
.rightContainer{
  flex-grow:2;
  display: flex;
  flex-direction: column;

  background-color: transparent !important;
}

.leftAlignItemSearchTitle {
  float:left;
  font-weight: 500;
  font-size: 16pt;
  /* flex-grow:1;
  flex-basis:50%; */
  background-color: transparent !important;

}
.rightAlignItemSearch {
  font-size: 15pt;
  font-weight: 400;
  float:right;
  background-color: transparent !important;


}
.descSearchItem{
  float: left;
  font-weight: 300;
  font-size:13pt;
  /* flex-grow:1;
  flex-basis:50%; */
  max-width: 70%;
  word-wrap: normal;
  background-color: transparent !important;

}

.TopLineSearch{
  flex-basis:20%;
}

.btnReplacment{
  background-color: #81BEA4;
  cursor: none;
}


.NotificationItem{
display: flex;
  background-color: #D5EFE4;
  padding:20px;
  width:90%;
  margin: auto;
  border-radius: 15px;
  margin-bottom: 5px;
  list-style-type: none;
  margin-bottom:20px;
}

.NotificationItem li{
  flex-grow: 1;
  padding: 10px;
margin:5px;
}
.appBtnNotif{
  background-color: #81BEA4;

  width:120px;
  border-radius: 11px;
  border: 1px solid #6b908090;
  font-weight: 400;
  font-size:14px;
  height: auto;
  display: block;
}

.appBtnNotifDeny{
  background-color: #be8a81;

  width:120px;
  border-radius: 11px;
  border: 1px solid #6b908090;
  font-weight: 400;
  font-size:14px;
  height: auto;
  display: block;
}
.notificationPagemainContent{
  background-color: #c2efdc6d;
  width:95%;
  margin: auto;
  padding:20px;
  border-radius: 10px;
}

.userNamedisplay{
  color:white;
  padding:18px
}

.OfferItem{
  display: flex;
    background-color: #D5EFE4;
    padding:20px;
    width:90%;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 5px;
    list-style-type: none;
    margin-bottom:20px;
  }

.OfferItemDenied{
  display: flex;
  background-color: #eedfdf;
  padding:20px;
  width:90%;
  margin: auto;
  border-radius: 15px;
  margin-bottom: 5px;
  list-style-type: none;
  margin-bottom:20px;
}
  

.OfferItemApproved{
  display: flex;
  background-color: #dbe8da;
  padding:20px;
  width:90%;
  margin: auto;
  border-radius: 15px;
  margin-bottom: 5px;
  list-style-type: none;
  margin-bottom:20px;
}
  
.offerItemLi{
  flex-grow: 1;
  padding: 10px;
  margin:5px;
}

.favouritesPageMainContent{
  list-style-type: none;
  background-color: #e5ece7ab;
  margin:auto;
  padding:20px;
  width:92%;
  border-radius: 10px;
}

.favouritesPageMainContent .searchResultItem {
  display: flex;
  background-color: #c4ecdbdf;
  padding:20px;
  width:95%;
  margin: auto;
  border-radius: 25px;
  margin-bottom: 5px;
  cursor: pointer;
}
.favouritesPageMainContent .searchResultItemDisabled{
  display: flex;
  background-color: #c4eada;
  opacity: 65%;
  padding:20px;
  width:95%;
  margin: auto;
  border-radius: 25px;
  margin-bottom: 5px;
  cursor: pointer;
}
.favouritesPageMainContent .SearchResultContainer {
  width:100%;
}
.FavItemDiv{
  display: flex;
  width:85%;
  margin:auto;

}
.favPageButtonContainer{
  padding:20px;
  /* display: flex; */
  flex-direction: column;
}
.favPageButtonContainer .appBtnNotifDeny{
  margin-top:40%;
  margin-bottom: 50%; 
  padding: 10px 20px;
}
.favPageButtonContainer .appBtnNotif{
  flex:1
}

.appBtnFav{
  background-color: #81BEA4;
  padding:2px;
  width:120px;
  border-radius: 11px;
  border: 1px solid #6b908090;
  font-weight: 400;
  height: 45px !important;

  font-size:14px;
}

.appBtnFavRemove{
  background-color: #babe81;
  padding:2px 5px;
  /* width:120px; */
  border-radius: 11px;
  border: 1px solid #6b908090;
  font-weight: 400;
  font-size:14px;
  height: 45px !important;
}


.categoriesPageMainContent{
  list-style-type: none;
  background-color: #e5ece7ab;
  margin:auto;
  padding:20px;
  width:92%;
  border-radius: 10px;
}

.categoryItem {
  display: flex;
  background-color: #D5EFE4;
  padding:20px;
  width:85%;
  margin: auto;
  border-radius: 15px;
  margin-bottom: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}
.catItemP{
  background-color: transparent !important;
  position: relative;
  top:30%;
  text-align: left;
  margin-left:50px;
}

.categoriesPageMainContent .appBtnFav{
  margin:auto;
  background-color: #81BEA4 !important;
}
.categoriesPageMainContent .animationParent {
  display: flex;
}

.reviewItemDiv{
  background-color: #E9ECEA;
  width:80%;
  margin:auto;
  border-radius: 20px;
  padding:20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  overflow-wrap:anywhere;
}
.reviewWindow{
  background-color: #D9D9D9;
  width:90%;
  border-radius:10px;
  margin:auto;
  padding:10px;
}
.reviewDivContainer{
  display: flex;
  flex-direction: row;
}

.reviewText{
  flex-grow:0.95;
  text-align: left;
  max-width:88%;
}
.reviewCreator{
  flex-grow:0.95;
  /* float:left; */
  text-align: left;
  font-weight:500;
}

.reviewTime{
  font-size:12pt
}
.ReviewformContainer{
  background-color: #FBFBFB; 
  border-radius: 10px;
  width:80%;
  margin:auto;
  padding:20px;
}
.reviewForm{
  display: flex;
  flex-direction: column;
}
.reviewForm .appBtn{
  margin:auto
}

.addListingMain{
  background-color: #E3EDE9;
  padding:10px;
  margin: auto;
  width:75%;
  border-radius: 10pt;
}
.addListingForm .formContainer .input {
  width:50%;
}
.addListingForm select{
  background-color:  #E0E7DD;
}

.addListingForm .appBtn{
  width:auto;

}



/*  Animations  */
@keyframes homePageItemHover {

  from {
    border-radius: 28px;
  }

  to {
    border-radius: 58px
  }
}


@keyframes homePageItemHover-out {
  0% {
  border-radius: 58px;}
  100% {
    border-radius: 28px}                  
}
@keyframes searchPageItemHover {
  0% {background-color: #D9D9D9;
  border-radius: 28px;}
  100% {background-color: #e3dede;
    border-radius: 58px}                  
}
/* @keyframes homePageItemHover {
  0% {background-color: #D9D9D9;
  border-radius: 28px;}
  100% {background-color: #c4c0c0;
    border-radius: 58px}                  
} */
/* @keyframes anti-homePageItemHover {
  0% {
    border-radius: 0px}
  100% {
    border-radius: 0px}                  
} */


@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
}