/* https://coolors.co/palette/6b9080-a4c3b2-cce3de-eaf4f4-f6fff8 */
:root{
  --text-colour:#6B9080;
  --button-colour: #81BEA4;
  --outline-colour:#6B9080;
  --header:#C2EFDC;
  --nav-header: #6FA48D;
}

body, html {
  height: 100%;
  background-color: #F6FFF8;
}


.App {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #6B9080;
  height: 200%;
  overflow: hidden;
}

.Links {
  font-size: 2.1em;
	text-align: center;
  transition: all .3s ease;
}

.loginpageHeading{
  color: #6B9080;
  margin:40px;
  /* font-size:45px; */
  
}
.LoginPage h1{
  margin-top: 30px;
}

.loginheader h1{
  margin-top: 30px;
}

.LoginPage{
  background-color: #F6FFF8;
}
.loginBox{
  background-color: #E3EDE9;
  width:45%;
  margin: auto; 
  border-radius: 20px;
  border:1px solid #a4c3b285;
  padding:10px;
  padding-bottom:20px;
}
.loginheader{
  background-color:var(--header);
  margin-bottom: 50px;
  margin-top: 0px;
  padding-bottom: 20px;
}
.formContainer{
  margin:auto
}
.formContainer .input{
  background-color: #CCE3DE;
  border: 1px solid #a4c3b27d ;
  border-radius: 10px;
  color: #747c78;

  display: block;
  margin: auto;
  margin-bottom:20px;
  margin-top: 20px;
}
.formContainer .input1{
  background-color: #CCE3DE;
  border: 1px solid #a4c3b27d ;
  border-radius: 10px;
  color: #747c78;


  margin: auto;
  margin-bottom:20px;
  margin-top: 20px;
}
.appBtn{
  background-color: #81BEA4;

  width:120px;
  border-radius: 11px;
  border: 1px solid #6b908090;
  font-weight: 400;
  font-size:14px;
}

.UserSettingsPage .appBtn {
  width: auto;
}

.MasterHeader ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--nav-header);
  top: 0;
  width: 100%;
}
.MasterHeader li{
  float: left;
  font-size: 14pt;
}
.MasterHeader li a {
  display: block;
  color: var(--text-colour);
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 10px;
  margin-right: 10px;
  margin:5px;
}
.MasterHeader li a:not(.active) {
  background-color: #CCE3DE;
}
.MasterHeader li a:hover:not(.active) {
  background-color: #a1bab5;
}

.MasterHeader .active {
  background-color: #8FCAB0;
  color: white;
}
.error{
  color:red;
  font-weight:500;
  font-size:20pt;
}

.usrAccLi {
  display: block;
  margin-bottom: 20px;
}

.usrAccBtn {
  background-color: #D9D9D9;
  border-radius: 100%;
  padding:29px;
  margin:5px
}

.usrAccBtn2 {
  background-color: #d8c9c9;
  border-radius: 100%;
  padding:29px;
  margin:5px;

}
.dropDownMaster{
  list-style-type: none;

  position: absolute;
  /* left: 93vw; */
  right:10px;

}
/* TODO: Fix dropdown menu */
.dropdownMenu {
  display: none;
  overflow: auto;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  min-width: 160px;
  max-width: 160px;
  position: absolute;
  background-color: #F6FFF8;
  padding: 12px 16px;
  z-index: 1;
  /* left:calc(2vw - 140px); */
  right:10px;
  top:76px;
  /* left: 92vw; */
  /* top: 6%; */
  float:right;
  border: 1px solid var(--outline-colour);
}

.dropDownMaster:hover .dropdownMenu {
  display: block;
}

.miniNavBar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E0F4EC;
  top: 0;
  width: 100%;
}
.miniNavBar li{
  float: left;
  font-size: 11pt;
}
.miniNavBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
  margin-right: 10px;
  margin:5px;
}
.miniNavBar li a:not(.active) {
  background-color: #95BBB3;
}
.miniNavBar li a:hover:not(.active) {
  background-color: #7f9e98;
}

.miniNavBar .active {
  background-color: #95BB9B;
  color: white;
}
.UserSettingsPage .loginheader{
  background-color:var(--header);
  margin-bottom: 50px;
  margin-top: 0px;
  /* padding-bottom: 0px; */
}
.formContainer label {
  display: inline !important;
}
.passChangeFieldSet{
  margin: 30px;
}
.UserSettingsPage .loginBox label {
  font-size: 13pt;
  font-weight: 500;
}

.AccountDetailsPage .loginheader {
  background-color: var(--header);
  margin-bottom: 50px;
  margin-top: 0px;
  /* padding-bottom: 0px; */
}
.AccountDetailsPage .appBtn {
  width: auto;
}
.editUsrIconBtn{
  background-color: #D9D9D9;
    border-radius: 100%;
    padding: 85px;
    margin: 5px
}
.dropDownA{
  padding: 5px !important;
}
.dropDownLi{
  width:150px;
}
/* TODO: Do some stuff with responsive design here
  Make it not a grid if screen width isnt wide enough to fit it all */
.ProfileBox{
  background-color: #E9F5F0;
  width:80%;
  margin: auto;
  display: grid;
  grid-template-columns: 40% 30% 29%;
  border-radius: 20px;
  padding:35px;
}
.ProfileColMin{
  background-color: #C7E4D8;
  margin:8px;
  border-radius: 10px;
  list-style-type: none;
}
.ProfileColMin h3 {
  font-weight: 500;
  font-size: 19pt;
  margin: 20px;
}
.ProfileColLarge{
  list-style-type: none;
  text-align: center
}
.ProfileColLarge li {
  font-weight: 400;
  margin: 5px;
  margin-bottom: 20px;
}
.ProfileName {
  font-size: 16pt;
  font-weight: 500 !important;
  margin-bottom: 40px !important;
}
.ProfileIconLarge {
  background-color: #D9D9D9;
  border-radius: 100%;
  padding: 85px;
  margin: auto;
  margin-top: 30px;
  /* margin: 15px; */
  margin-bottom: 60px;
  padding:50px;
  width: 100px;
  height: 100px;
  border: 1px solid #6B9080;
}
.ProfileInterestLi{
  margin: 40px;
}
.friendListImg{
  background-color: #D9D9D9;
    border-radius: 100%;
    padding: 85px;
    /* margin: 15px; */
    padding: 15px;
    width: 20px;
    height: 20px;
    border: 1px solid #6B9080;
}
.FriendItemProfile {
  padding:15px;
  margin:20px;
  height: auto;
  display: flex;
  background-color: #B6D2C7;
  border-radius: 8px;
}
.FriendItemProfile p {
  margin: 10px;
  text-align: left;
  margin-left: 20px;
}
.homePageContainer{
  background-color: #E3EDE9;
  margin: auto;
  width:90%;
  padding: 10px;
  padding-top: 20px;
  margin-bottom: 80px;
  border-radius: 20px;
}
.homepageMainContent h3 {
  font-weight: 400;
  font-size:30px;
}
.newestListingItem{
  padding: 35px;
  margin: 9px;
  height: auto;
  display: flex;
  background-color: #D9D9D9;
  border-radius: 28px;
  /* width:30%; */
  flex: 1 1 18%;
  flex-shrink: 1;
  max-width: 18%;
}
.leftNLR {
  margin-left:30px;
}
.NLRimagePlaceholder {
  background-color: #DFE1DD;
  border-radius: 5px;
  padding: 85px;
  /* margin: 15px; */
  padding: 15px;
  width: 60px;
  height: 60px;
  border: 1px solid #6B9080;
}
.newestListingItem h3 {
  font-size:20pt
}
.itemContainer{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.logOutBtn{
  background-color: #7c4825;
  margin: 5px;
  border-radius: 11px;
  border: 1px solid #6b908090;
  font-weight: 400;
  font-size: 14px;
}