/* https://coolors.co/palette/6b9080-a4c3b2-cce3de-eaf4f4-f6fff8 */
:root{
  --text-colour:#6B9080;
  --button-colour: #81BEA4;
  --outline-colour:#6B9080;
  --header:#C2EFDC;
  --nav-header: #6FA48D;
}

body, html {
  height: 100%;
  background-color: #F6FFF8;
}

.App {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #6B9080;
  height: 200%;
  overflow: hidden;
}

.Links {
  font-size: 2.1em;
	text-align: center;
  transition: all .3s ease;
}

.loginpageHeading{
  color: #6B9080;
  margin:40px;
  font-size:40px;
  
}
.LoginPage h1{
  margin-top: 30px;
}

.loginheader h1{
  margin-top: 30px;
}

.LoginPage{
  background-color: #F6FFF8;
}
.loginBox{
  background-color: #E3EDE9;
  width:30%;
  margin: auto; 
  border-radius: 20px;
  border:1px solid #a4c3b285 ;

}
.loginheader{
  background-color:var(--header);
  margin-bottom: 50px;
  margin-top: 0px;
  padding-bottom: 30px;
}
.formContainer{
  margin:auto
}
.formContainer .input{
  background-color: #CCE3DE;
  border: 1px solid #a4c3b27d ;
  border-radius: 10px;
  color: #747c78;

  display: block;
  margin: auto;
  margin-bottom:20px;
  margin-top: 20px;
}
.appBtn{
  background-color: #81BEA4;

  width:120px;
  border-radius: 11px;
  border: 1px solid #6b908090;
  font-weight: 400;
  font-size:14px;
}

.MasterHeader ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--nav-header);
  top: 0;
  width: 100%;
}
.MasterHeader li{
  float: left;
  font-size: 14pt;
}
.MasterHeader li a {
  display: block;
  color: var(--text-colour);
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
  border-radius: 10px;
  margin-right: 10px;
  margin:5px;
}
.MasterHeader li a:not(.active) {
  background-color: #CCE3DE;
}
.MasterHeader li a:hover:not(.active) {
  background-color: #a1bab5;
}

.MasterHeader .active {
  background-color: #8FCAB0;
  color: white;
}


.usrAccLi {
  float: right !important;
}

.usrAccBtn {
  background-color: #D9D9D9;
  border-radius: 100%;
  padding:35px;
  margin:5px
}



.miniNavBar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E0F4EC;
  top: 0;
  width: 100%;
}
.miniNavBar li{
  float: left;
  font-size: 11pt;
}
.miniNavBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
  margin-right: 10px;
  margin:5px;

}
.miniNavBar li a:not(.active) {
  background-color: #95BBB3;
}
.miniNavBar li a:hover:not(.active) {
  background-color: #7f9e98;
}

.miniNavBar .active {
  background-color: #95BB9B;
  color: white;
}
.UserSettingsPage .loginheader{
  background-color:var(--header);
  margin-bottom: 50px;
  margin-top: 0px;
  padding-bottom: 0px;
}